<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/mapa.jpg" alt="">
</ion-content>
<ion-content>
  <ion-list>
    <ion-item (click)="acessarPagina()">
      <h3> {{pagina}} 1 </h3>
    </ion-item>
    <ion-item (click)="acessarPagina()">
      <h3> {{pagina}} 2 </h3>
    </ion-item>
    <ion-item (click)="acessarPagina()">
      <h3> {{pagina}} 3 </h3>
    </ion-item>
    <ion-item (click)="acessarPagina()">
      <h3> {{pagina}} 4 </h3>
    </ion-item>
    <ion-item (click)="acessarPagina()">
      <h3> {{pagina}} 5 </h3>
    </ion-item>
  </ion-list>
</ion-content>
