<ion-header *ngIf="show">
  <ion-toolbar color="warning">
    <ion-title>
      <ion-button #menu (click)="abrirMenu()" fill="clear" color="light">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="conteudo" menuId="first">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title> Menu Principal </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="home()">
        <ion-icon name="home"></ion-icon> Dashboard
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>