ion-content form {
  margin-top: 15vh;
}

#logo {
  margin: 5vh auto;
  display: block;
}

.field {
  margin-top: 5vh;
  background: transparent;
}

.field ion-input {
  background: transparent;
}

ion-button {
  margin-top: 5vh;
}