<ion-header>
  <ion-nav>
    <ion-title> Meu App </ion-title>
  </ion-nav>
</ion-header>
<ion-content padding color="primary">
  <img id="logo" src="https://ionicframework.com/img/homepage/ionic-for-everyone-icon.png">
  <form action="">
    <ion-item class="field">
      <ion-input placeholder="usuário" type="text"></ion-input>
    </ion-item>
    <ion-item class="field">
      <ion-input placeholder="senha" type="password"></ion-input>
    </ion-item>
    <button ion-button type="submit"> fazer login </button>
  </form>
</ion-content>
